.todo {
  display: flex;
  place-items: first baseline;
  font-size: 1.5rem;

  &::before {
    content: '+';
  }
  .todo-add-task {
    background-color: transparent;
    border: none;
    color: var(--primary-color);

    &::placeholder {
      color: var(--primary-color);
    }
  }
}
